<div class="header-container">
    <div class="header__logo-container">
        <span class="header__logo">Logo</span>
    </div>
    <ul class="header__list">
        <li class="header__list-item"><a [routerLink]="''" class="header__list-link">Home</a></li>
        <li class="header__list-item"><a [routerLink]="['/movies']" class="header__list-link">Movies</a></li>
        <li class="header__list-item"><a class="header__list-link">test</a></li>
        <li class="header__list-item"><a class="header__list-link">test</a></li>
    </ul>
</div>